pool:
   vmImage: "macOS-latest"

strategy:
  matrix:
    LTS:
      goVersion: '1.13'
    latest:
      goVersion: '1.14'

steps:
  - checkout: self
  - task: GoTool@0
    inputs:
      version: $(goVersion)
  - script: go mod vendor
    displayName: import vendor
  # TODO: use go test -v ./... --bench=. -cover when 
  - script: go test -v ./sm2/... --bench=. -cover
  - script: go test -v ./sm3/... --bench=. -cover
  - script: go test -v ./sm4/... --bench=. -cover
  - script: go test -v ./utils/... --bench=. -cover
  - script: go test -v ./internal/... --bench=. -cover
  # TODO: this lib has error
  #- script: go test -v ./x509/... --bench=. -cover
  # TODO: this lib testing hang up
  #- script: go test -v ./tls/... --bench=. -cover
